/* 
##1EC6D9 azul
#E3BF23 amarelo
#EFEDEE branco
#F7BECD rosa
#E7857A bege
#A65712 laranja escuro
#8C2727 vermelho
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #5681A6;
    border-bottom: 2px solid #334e65;
    top: 0;
    left: 0;
    padding: 20px 10%;
    z-index: 10; /* pra imagem nao sobrepor o header */

}

.logo img {
    height: 100px;
}

.links {
    display: flex;
    color: #fff;
    font-size: 30px;
    gap: 80px;
}

.links a {
    text-decoration: none;
    color: #fff;
}
/* pra fazer o efeito de saltar pra frente */
.imagens img:hover {
    transform: scale(1.2);
}
.imagens img {
    transition: 0.4s; /* por o transition fora do hover pra animacao de volta também ser suave!*/
}

a:hover {
    transition: 0.3s;
    color: #BF544B;
}

/* CONTEÚDO DA PÁGINA */
.container {
    width: 1240px;
}
/* .inicio .container {
    width: 1200px;;
} */

.inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 120px 100px 100px;
    background-color: #5681A6;

}

.esq {
    display: flex;
}

.esq img {
    width: 450px;
    animation: moveUpDown 3s ease-in-out infinite;
    position: relative;
    z-index: 1; /* pra imagem nao sobrepor o header (quanto maior, mais camada acima ele fica) */
}
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.dir {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 80px;
    line-height: 60px;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dir h3 {
    font-size: 50px;
}

.dir h1 {
    color: #BF544B;
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imagens img {
    margin: 15px;
}

.imgOP {
    height: 130px;
}

.imgLogo {
    width: 75px;
}

.imgONU {
    width: 60px;
}

/* SEGUNDA SEÇÃO */
.divPlacares {
    display: flex;
    padding: 100px 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divPlacares h1 {
    font-size: 40px;
}

.divPlacares h4 {
    font-size: 30px;
    padding: 30px;
}

.graficos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    padding: 100px;
}

.graficos img {
    width: 500px;
}

/* TERCEIRA SEÇÃO */
.divProjeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #334e65;
    padding: 100px 0px;
    text-align: center;
    width: 100%;
}

.divProjeto h1 {
    color: #BF544B;
    font-size: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.divProjeto h5 {
    width: 600px;
    font-size: 24px;
}

.divProjeto img {
    width: 400px;
}

.projP1,
.projP2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0;
    justify-content: space-between;
}

.dir1 {
    text-align: end;
}

.esq2 {
    text-align: start;
}

/* SEÇÃO SOBRE MIM */
.divSobreMim {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divSobreMim h1 {
    font-size: 40px;
    color: #BF544B;
    padding: 100px 0 80px;

}

.imgs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imgs img {
    width: 200px;
    border-radius: 100%;
}

.textos {
    display: flex;
    padding: 50px 130px;
    gap: 160px;
    font-size: 22px;
    line-height: 26px;
}
.textos h5{
    padding-bottom: 40px;
}

/* FOOTER */
footer{
    height: 350px;
    background-color: #222;
}