/* 
#5681A6; azul escuro
#96C6D9;  azul claro
#D9AA8F; 
 bege
#59372A; marrom
#BF544B;  vermelho */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #5681A6;
    border-bottom: 2px solid #334e65;
    top: 0;
    left: 0;
    padding: 20px 10%;
}

.logo img {
    height: 100px;
}

.links {
    display: flex;
    color: #fff;
    font-size: 30px;
    gap: 80px;
}

.links a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    transition: 0.3s;
    color: #BF544B;
}

/* CONTEÚDO DA PÁGINA */
.container {
    width: 1140px;
}
/* .espaco{
    height: 200px;
} */

.inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 200px 100px 100px;
    background-color: #5681A6;

}

.esq {
    display: flex;
}

.esq img {
    width: 500px;
}

.dir {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 80px;
    margin-left: 500px;
    line-height: 60px;
}

.dir h3 {
    font-size: 50px;
}

.dir h1 {
    color: #BF544B;
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imagens img {
    margin: 15px;
}

.imgOP {
    height: 130px;
}

.imgLogo {
    width: 75px;
}

.imgONU {
    width: 60px;
}

/* SEGUNDA SEÇÃO */
.divPlacares {
    display: flex;
    padding: 100px 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divPlacares h1 {
    font-size: 40px;
}

.divPlacares h4 {
    font-size: 30px;
    padding: 30px;
}

.graficos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    padding: 100px;
}

.graficos img {
    width: 500px;
}

/* TERCEIRA SEÇÃO */
.divProjeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #334e65;
    padding: 100px 0px;
    text-align: center;
    width: 100%;
}

.divProjeto h1 {
    color: #BF544B;
    font-size: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.divProjeto h5 {
    width: 600px;
    font-size: 24px;
}

.divProjeto img {
    width: 400px;
}

.projP1,
.projP2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0;
    justify-content: space-between;
}

.dir1 {
    text-align: end;
}

.esq2 {
    text-align: start;
}

/* SEÇÃO SOBRE MIM */
.divSobreMim {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divSobreMim h1 {
    font-size: 40px;
    color: #BF544B;
    padding: 100px 0 80px;

}

.imgs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.imgs img {
    width: 200px;
    border-radius: 100%;
}

.textos {
    display: flex;
    padding: 50px 130px;
    gap: 160px;
    font-size: 22px;
    line-height: 26px;
}
.textos h5{
    padding-bottom: 40px;
}

/* FOOTER */
footer{
    height: 350px;
    background-color: #222;
}