/* 
#5681A6; azul escuro
#96C6D9;  azul claro
#D9AA8F; 
 bege
#59372A; marrom
#BF544B;  vermelho */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #5681A6;
    top: 0;
    left: 0;
    padding: 20px 10%;
}

header img {
    height: 100px;
    border-radius: 100%;
}

.links img {
    height: 60px;
}

.links {
    display: flex;
    color: #fff;
    font-size: 30px;
    gap: 15px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #fff;
}

.links .btnSair a:hover {
    text-decoration: underline;
}

a:hover {
    transition: 0.3s;
    color: #E7857A;
}

.opcoes {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.slct a {
    color: #F7BECD;
}

#nickname {
    color: #E3BF23;
}

/* CONTEÚDO DA PÁGINA  */

.container {
    align-items: center;
    height: 100vh;
    display: flex;
    padding: 100px 0 0 0;
    flex-direction: column;
}
.divInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 100vh;
}
.divPost {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.inp {
    width: 500px;
    height: 150px;
    text-align: start;
}
.slc { /* class de cada input */
    text-align: center;
    padding: 4px;
    background-color: #ffffff00;
    border-radius: 10px;
}
button {
    border-style: none;
    transition: 0.3s;
}
.botao { /* class de cada botão */
    padding: 10px 70px;
    border-radius: 20px;
    background-color: #E3BF23;
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: #E3BF23;
    transform: translateY(-6px);
    border: 1px solid #E3BF23;
}
.recados {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 3vh;
}
.recados h2 {
    font-size: 32px;
}
.recados h6 {
    font-size: 20px;
}
.lembretes {
    display: flex;
    gap: 7%;
    width: 100vh;
    justify-content: space-evenly;
}
.lemb {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 25vh;
    padding: 3%;
    background-color: #5681A6;
    align-items: center;
    border-radius: 40px;
    transition: 0.4s;
    box-shadow: 0px 0px 20px 4px #F7BECD;
}
.lemb:hover {
    transform: scale(1.05);
}
.lemb img {
    width: 60px;
    height: 60px;
}

input {
    box-shadow: 0px 0px 20px 1px #F7BECD;
    border: 1px solid #E3BF23;
}