/* 
#5681A6; azul escuro
#96C6D9;  azul claro
#D9AA8F; 
 bege
#59372A; marrom
#BF544B;  vermelho */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
html::-webkit-scrollbar {       /* geral */
    width: 8px;
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb {      /* a barrinha móvel em si */
    background-color: #222;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {     /* espaco total da barra, o fundo */
    background-color: #EFEDEE;
    border-radius: 5px;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #5681A6;
    top: 0;
    left: 0;
    padding: 20px 10%; 
}
header img{
    height: 100px;
    border-radius: 100%;
}

.links img {
    height: 60px;
}
.links {
    display: flex;
    color: #fff;
    font-size: 30px;
    gap: 15px;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.links .btnSair a:hover {
    text-decoration: underline;
}
a:hover{
    transition: 0.3s;
    color: #BF544B;
}
.opcoes {
    display: flex;
    justify-content: center;
    gap: 120px;
}
.slct a{
    color: #F7BECD;
}
#nickname {
    color: #E3BF23;
}

/* CONTEUDO DA PAGINA   */
.container {
    width: 1040px;
    background-color: #F7BECD;
}
.titulo {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 150px 150px 100px;
    gap: 50px;
}
.temas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px 100px 100px;
    gap: 50px;
}
.topicoTema {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    /* background-color: #222 ; */
    align-items: center;
    border-radius: 30px;
    color: #E3BF23;
    font-size: 22px;
    justify-content: end;
    transition: 0.4s;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to top, #00000083  20%, black 30%);

}
.topicoTema h6 {
    position: absolute;
    padding: 25px;
}
.topicoTema:hover {
    transform: scale(1.05);
    /* .front {
        display: none;
    }
    .back {
        display: flex;
    } */
}

/* PÁGINA DE MENU DE QUIZZES */
.front {
    position: relative;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
}
.front:hover {
    z-index: 0;
}
.back:hover {
    z-index: 10;
}

/* .front .img {
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
} */
 .back {
    display: flex;
    position: absolute;
    background-color: #EFEDEE;
    color: #E3BF23;
    opacity: 0;
}


/* FOOTER */
footer{
    height: 250px;
    background-color: #222;
}
footer img {
    width: 50px;
    transition: 0.4s;
}
footer img:hover {
    transform: scale(1.1);
}
footer .icones {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 15px;
    padding: 5%;
}