/* 
##1EC6D9 azul
#E3BF23 amarelo
#EFEDEE branco
#F7BECD rosa
#E7857A bege
#A65712 laranja escuro
#8C2727 vermelho
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #5681A6;
    top: 0;
    left: 0;
    padding: 20px 10%; 
}
header img{
    height: 100px;
    border-radius: 100%;
}

.links img {
    height: 60px;
}
.links {
    display: flex;
    color: #fff;
    font-size: 30px;
    gap: 80px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.links .btnSair a{
    color: #BF544B;
}
.links .btnSair a:hover {
    text-decoration: underline;
}
a:hover{
    transition: 0.3s;
    color: #E7857A;
}
.opcoes {
    display: flex;
    justify-content: center;
    gap: 120px;
}
.slct{
    color: #EFEDEE;
}


/* CONTEÚDO DA PÁGINA  */

.container {
    /* background-color: #F7BECD; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 0;
    height: 100vh;
}
.esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    gap: 5%;
}
.foto {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}
.foto img {
    height: 80%;
    border-radius: 100%;
}
.dadosUser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8%;
    width: 100%;
    gap: 20px;
}
.nickname {
    font-size: 42px;
    color: #5681A6;
}
.nome, .email {
    font-size: 20px;
}
.direita {
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 17%;
}
.dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 130px;
    /* background-color: antiquewhite; */
    border-radius: 30px;
    font-size: 18px;
    width: 220px;
}
.dado h3{
    padding: 15px;
}
.dadoInfo {
    background-color: #F7BECD;
    border-radius: 15px;
    font-size: 26px;
    /* padding: 2% 10%; */
    width: 100%;
}